/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0} */

.App{
  background-color: rgba(19, 18, 21, 0.982);
  width: 1520px;
}

.logo{font-weight: 700;
  font-size: 35px;
  margin-left: 600px;
  color: azure;
  
}

.nav{
   float: right;  /*обтекание с право */
  display: flex;
  list-style-type: none; /*позволяет убрать маркеры списка*/
  flex-flow: nowrap;     /*элементы не переносятся, а располагаются в одну линию слева направо*/
  color: azure;
  
}
.nav-item{
  margin-right: 10px;
  cursor: pointer;

}
.presentation{
  background-image: url('./img/top2.jpeg');
  width: 1440px;
  height: 600px;
  margin-top: 30px;
  margin-left: 150px;
  background-blend-mode: multiply;   /*наложить сверху оттенок*/
  background-color: rgba(234, 240, 238, 0);
  /* position: relative; */
  background-repeat: no-repeat;
  
}


.presentation::after{
  content: 'Лучшие ролы и суши';
  position: absolute;
  font-size: 32px;
  color: azure;
  font-weight: 800;
  top: 50px;
  left: 100px;
}

.presentation::before{
  content: 'Только у нас';
  position: absolute;
  font-size: 32px;
  color: azure;
  font-weight: 800;
  top: 500px;
  left: 850px;
}

.item{
  display: flex;
  align-items: center;
  /* border: 1px solid;  */
  flex-direction: column;  /*размещаются в столбик, то есть вертикально*/
  /*https://active-vision.ru/icon/box-shadow/?ysclid=m63l3bvx6t331922396- Тени*/ 
  box-shadow: 46px -22px 8px 0px rgba(34, 60, 80, 0.2);
  border: 1px solid;
}

.container-main{
  display: flex; 
  justify-content: space-around; 
  height: 410px;
  color: azure;
}

.container-title{
  display: flex;
  justify-content: center;
  color: azure;
}

.container-img{
  height: 150px;
  width: 250px;
  margin-bottom: 25px;
  color: azure;
}

.shop-cart-button{
  float: right;
  margin-top: 18px;
  cursor: pointer;
  color: azure;
}

.shop-cart-button:hover{    /*при наведении цвет меняеться и увеличиваеться*/
  color: rgba(225, 13, 13, 0.829);
  transform: scale(1.5);
  color: azure;

}

.add-to-card{
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: red;
  text-align: center;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  transform: 500ms;
  
}

.add-to-card:hover{
  color: aliceblue;
  transform: scale(1.2);
}

.shop-cart{
  width: 250px;
  height: 250px;
  background-color: rgba(0, 255, 255, 0.373);
  position: absolute;
  z-index: 1; /*поверх других окон*/
  margin-left: 950px;
  margin-top: 30px;
}

header div{
  position: relative;
}
.textBlock{
  height: 150px;
  width: 150px;
  background-color: aqua ;
  position: absolute;
  background-image: url('./img/smile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}